.tableContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .table {
    
    width: 100%;
    max-width: 800px; /* Adjust the max-width as needed */
    margin-top: 20px; /* Adjust spacing from top */
  }
  .heading{
    background-color: rgb(142, 241, 142);
    gap:90px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust spacing from top */
  }
  
  .pagination button {
    margin: 0 5px; /* Adjust spacing between buttons */
  }
  